p {
	font-family: arial;
}

a {
	text-decoration: none;
	color: black;

}

li {
	display: inline-block;
	list-style-type: none;
	padding: 0 8px 0 8px;
}

form {
	margin-left: 350px;
	width: 100%;
}

.image{
	height: 100px;
	width: 300px;
	margin-left: 472px;
	padding-top: 110px;
	padding-bottom: 7px;
}

}

.hlist {
	margin-left: 900px;
	margin-top: -15px;
	padding: 0 8px 0 8px;
}

li.hlist {
	margin: 0 -10px 15px 0;
	padding: 0 8px 0 8px;
	font-size: .4em;
}


#grid{
	height: 22px;
	width: 22px;
}

#bell {
	height: 22px;
	width: 22px;
}

input[type=text] {
	width: 540px;
	height: 32px;
	border: solid 1px gray;
}

button {
	background-color: gray;
	border: none;
	color: black;
	padding: 7px 14px 10px 14px;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	margin-left: 70px;
	height: 40px;
}