p {
	font-family: arial;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

body {
	display: block;
}

a.hover {
	font-color: blue;
	text-decoration: underline;
}

li {
	display: inline-block;
	list-style-type: none;
	padding: 0 8px 0 8px;
}

form {
	margin-left: 350px;
	width: 100%;
}

.head {
	width: 100%;
}

.image{
	height: 100px;
	width: 300px;
	margin-left: 472px;
	padding-top: 110px;
	padding-bottom: 7px;
}

head {
	position: absolute;
}

.hlist {
	position: relative;
	left: 900px;
}




.grid{
	height: 22px;
	width: 22px;
}

.bell {
	height: 22px;
	width: 22px;
}
.bsp {
	display: block;
	margin-left: 80px;
}

input[type=text] {
	width: 540px;
	height: 32px;
	border: solid 1px gray;
}

button {
	/*background-color: gray; */
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: .9em;
	height: 35px;
	display: inline-block;
	margin-top: 20px;
}

.searchf {
	height: 390px;
}

.sb1 {
	margin-left: 35px;
	width: 130px;
}

.sb2 {
	margin-left: 10px;
	width: 180px;
}

.footer {
	position: absolute;
	width: 100%;
	height: 35px;
	margin-top: -17px;
	font-size: .8em;
	font-family: arial;
	border: 1px solid #d9d9d9;
	background-color: #e6e6e6;
}

.lf {
	position: relative;
	display: inline-block;
	left: -20px;
}

.rf {
	position: relative;
	left: 750px;
	display: inline-block;
}