
a{
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

li {
	display: inline-block;
}

body{
	position: relative;
}

input[type=search] {
	border: 1px solid #cccccc;
	width: 450px;
	position: relative;
	height: 30px;
	bottom: 5px;
}

div button {
	height: 30px;
	font-position: center;
	background-color: #e6e6e6;
	position: relative;
	left: 90px;
}

div form p {
	font-color: #737373;
	font-size: .8em;
}

body div img {
	height: 70px;
	width: 220px;
	position: relative;
	left: 110px;
	bottom: 20px;
}

.header {
	position:relative;
	float: right;
	margin-bottom: 200px;
	font-size: .9em;
	font-family: arial;
	right: 20px;
}

.footer {
	position: relative;
	background-color: #f2f2f2;
	font-family: arial;
	height: 37px;
	width: 100%;
	border: 1px solid #e6e6e6;
	margin-top: 200px;
}

.lf {
	position: left;
	float: left;

}

div div ul li {
	text-align: center;
}

.rf {
	position: relative;
	float: right;
	left: 200px;
}

#sib
{
	background-color: #0f55bd;
	font-color: white;
	font-family: arial;
	font-size: 1em;
	text-align: center;
	height: 40px;
	width: 70px;
	border-radius: 8px;
	right: -80px;
	border: none;
}

.sbu1 {
	background-color: 
	font-family: arial;
	font-color: #e6e6e6;
	border: none;
	right: 1px;
}

.sbu2 {
	background-color: 
	font-family: arial;
	font-color: #e6e6e6;
	border: none; 
	left: 1px;
}

.guts {

}

#spacer {
	position: relative;
	left: 380px;
	width: 300px;
	height: 254px;
	top:120px;
}

#mail {
	font-family: arial;
	position: relative;
	right: 20px;


}

#images {
	font-family: arial;
	position: relative;
	right: 20px;
}

#apps {
	font-family: arial;
	position: relative;
	right: 20px;
}

#ad {
	font-family: arial;
	position: relative;
	right: 20px;
}

#ab {
	font-family: arial;
	position: relative;
	right: 20px;
}

#bus {
	font-family: arial;
	position: relative;
	right: 20px;
}

#priv {
	font-family: arial;
	position: relative;
	right: 20px;
}

#term {
	font-family: arial;
	position: relative;
	right: 20px;
}

#set {
	font-family: arial;
	position: relative;
	right: 20px;
}