p {
	font-family: arial;
}

a {
	text-decoration: none;
	color: black;

}

li {
	display: inline-block;
	list-style-type: none;
}

form {
	margin-left: 450px;
}

.image{
	height: 70px;
	width: 220px;
	margin-left: 470px;
}

}

.hlist {
	margin-left: 900px;
	margin-top: -15px;
}

.hlist:li {
	margin: 0 -10px 15px 0;
	padding: 8px;
}


#grid{
	height: 22px;
	width: 22px;
}

#bell {
	height: 22px;
	width: 22px;
}

input[type=text] {
	width: 320px;
	height: 30px;
	border: solid 1px gray;
}

button {
	background-color: gray;
	border: none;
	color: black;
	padding: 7px 14px 10px 14px;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	margin-left: 3px;
	height: 40px;
}