
a{
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

li {
	display: inline-block;
}

body{
	position: relative;
}

input[type=search] {
	border: 1px solid grey;
	width: 520px;
	position: relative;
	height: 30px;
}

div button {
	height: 30px;
	font-position: center;
	background-color: #e6e6e6;
	position: relative;
	left: 120px;

}

div form p {
	font-color: #737373;
	font-size: .8em;
}

body div img {
	height:90px;
	width: 265px;
	position: relative;
	left: 130px;
}

.header {
	position:relative;
	float: right;
	margin-bottom: 500px;
	font-size: .9em;
	font-family: arial;
}

.footer {
	position: relative;
	background-color: #f2f2f2;
	font-family: arial;
	height: 37px;
	width: 100%;
	border: 1px solid #e6e6e6;
	margin-top: 200px;
}

.lf {
	position: left;
	float: left;

}

div div ul li {
	text-align: center;
}

.rf {
	position: relative;
	float: right;
	left: 200px;
}


#sib {
	background-color: #0f55bd;
	font-color: #000;
	font-family: arial;
	font-size: 1em;
	text-align: center;
	height: 40px;
	width: 70px;
	border-radius: 8px;
}

.guts {

}

#spacer {
	position: relative;
	left: 380px;
	width: 300px;
	height: 250px;
	top:120px;

}